@import "./theme.scss";

// 文字超行溢出显示省略号
@mixin lines($line:1){
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}


// 圆角
@mixin radius($raidus:5px){
    -webkit-border-radius: $raidus;
    -moz-border-radius: $raidus;
    -ms-border-radius: $raidus;
    -o-border-radius: $raidus;
    border-radius: $raidus;
}


// 外阴影
@mixin shadow($x:0, $y:2px, $blur:10px, $spread:0, $color:rgba(#000,0.1)){
    -webkit-box-shadow: $x $y $blur $spread $color;
    -moz-box-shadow: $x $y $blur $spread $color;
    -ms-box-shadow: $x $y $blur $spread $color;
    -o-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
}
// 内阴影
@mixin shadow-inset($x:0, $y:2px, $blur:10px, $spread:0, $color:rgba(#000,0.1)){
    -webkit-box-shadow: inset $x $y $blur $spread $color;
    -moz-box-shadow: inset $x $y $blur $spread $color;
    -ms-box-shadow: inset $x $y $blur $spread $color;
    -o-box-shadow: inset $x $y $blur $spread $color;
    box-shadow: inset $x $y $blur $spread $color;
}
// 文字阴影
@mixin text-shadow($x:0, $y:2px, $blur:10px, $color:rgba(#000,0.5)){
    -webkit-text-shadow: $x $y $blur $color;
    -moz-text-shadow: $x $y $blur $color;
    -ms-text-shadow: $x $y $blur $color;
    -o-text-shadow: $x $y $blur $color;
    text-shadow: $x $y $blur $color;
}


// 透明度
@mixin opacity($opacity){
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
}


// transition
@mixin transition($time: 0.5s){
    -webkit-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    -ms-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}


//transfrom兼容
@mixin translateX($x:50%){
    -ms-transform: translateX($x);
    -moz-transform: translateX($x);
    -webkit-transform: translateX($x);
    -o-transform: translateX($x);
    transform: translateX($x);
}
@mixin translateY($y:50%){
    -ms-transform: translateY($y);
    -moz-transform: translateY($y);
    -webkit-transform: translateY($y);
    -o-transform: translateY($y);
    transform: translateY($y);
}
@mixin rotate($deg:90deg){
    -ms-transform:rotate($deg);
    -moz-transform:rotate($deg);
    -webkit-transform:rotate($deg);
    -o-transform:rotate($deg);
    transform:rotate($deg);
}
@mixin rotateY($deg:180deg){
    -ms-transform:rotateY($deg);
    -moz-transform:rotateY($deg);
    -webkit-transform:rotateY($deg);
    -o-transform:rotateY($deg);
    transform:rotateY($deg);
}
@mixin scale($x:1,$y:1){
    -ms-transform:scale($x,$y);
    -moz-transform:scale($x,$y);
    -webkit-transform:scale($x,$y);
    -o-transform:scale($x,$y);
    transform:scale($x,$y);
}


// 渐变
@mixin linear-gradient($from,$to) {
    background-color: $to;
    background-image: -moz-linear-gradient($from, $to);
    background-image: -o-linear-gradient($from, $to);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
    background-image: -webkit-linear-gradient($from, $to);
    background-image: -ms-linear-gradient($from, $to);
    background-image: linear-gradient($from, $to);
}


// 三角箭头
@mixin arrow($direction,$size,$color) {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-style: solid;
    border-width: $size;
    @if $direction == top {
        border-color: transparent transparent $color transparent;
        border-top: none;
    }
    @else if $direction == bottom {
        border-color: $color transparent transparent transparent;
        border-bottom: none;
    }
    @else if $direction == right {
        border-color: transparent transparent transparent $color;
        border-right: none;
    }
    @else if $direction == left {
        border-color: transparent $color transparent transparent;
        border-left: none;
    }
}


/*------------------------------------
+. animation
+. (命名，动画时间，动画效果，延迟，动画次数)
+. keyframes
+. (命名)
----------------------------------- */
@mixin animation($name:all,$duration:1s,$move:ease-in-out,$delay:0.01s,$count:infinite){
    -webkit-animation: $name $duration $move $delay $count;
    -moz-animation: $name $duration $move $delay $count;
    -ms-animation: $name $duration $move $delay $count;
    animation: $name $duration $move $delay $count;
}
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}


/*------------------------------------
+. theme_font
+. (主题文字色，透明度)
----------------------------------- */
@mixin theme_font($sel,$opacity:1){
    [data-theme="theme"] & {
        @each $mysel in map-keys($theme) {  
            @if $sel == $mysel {color: rgba(map-get($theme, $mysel),$opacity);} 
        }
    }
    [data-theme="theme1"] & {
        @each $mysel in map-keys($theme1) {  
            @if $sel == $mysel {color: rgba(map-get($theme1, $mysel),$opacity);} 
        }
    }
    [data-theme="theme2"] & {
        @each $mysel in map-keys($theme2) {  
            @if $sel == $mysel {color: rgba(map-get($theme2, $mysel),$opacity);} 
        }
    }
    [data-theme="theme3"] & {
        @each $mysel in map-keys($theme3) {  
            @if $sel == $mysel {color: rgba(map-get($theme3, $mysel),$opacity);} 
        }
    }
}


/*------------------------------------
+. theme_bg
+. (主题背景色，透明度)
----------------------------------- */
@mixin theme_bg($sel,$opacity:1){
    [data-theme="theme"] & {
        @each $mysel in map-keys($theme) {  
            @if $sel == $mysel {background-color: rgba(map-get($theme, $mysel),$opacity);} 
        }
    }
    [data-theme="theme1"] & {
        @each $mysel in map-keys($theme1) {  
            @if $sel == $mysel {background-color: rgba(map-get($theme1, $mysel),$opacity);} 
        }
    }
    [data-theme="theme2"] & {
        @each $mysel in map-keys($theme2) {  
            @if $sel == $mysel {background-color: rgba(map-get($theme2, $mysel),$opacity);} 
        }
    }
    [data-theme="theme3"] & {
        @each $mysel in map-keys($theme3) {  
            @if $sel == $mysel {background-color: rgba(map-get($theme3, $mysel),$opacity);} 
        }
    }
}


/*------------------------------------
+. theme_bd
+. (主题边框色，透明度)
----------------------------------- */
@mixin theme_bd($sel,$opacity:1){
    [data-theme="theme"] & {
        @each $mysel in map-keys($theme) {  
            @if $sel == $mysel {border-color: rgba(map-get($theme, $mysel),$opacity);} 
        }
    }
    [data-theme="theme1"] & {
        @each $mysel in map-keys($theme1) {  
            @if $sel == $mysel {border-color: rgba(map-get($theme1, $mysel),$opacity);} 
        }
    }
    [data-theme="theme2"] & {
        @each $mysel in map-keys($theme2) {  
            @if $sel == $mysel {border-color: rgba(map-get($theme2, $mysel),$opacity);} 
        }
    }
    [data-theme="theme3"] & {
        @each $mysel in map-keys($theme3) {  
            @if $sel == $mysel {border-color: rgba(map-get($theme3, $mysel),$opacity);} 
        }
    }
}


/*------------------------------------
+. theme_mixbg
+. (混合色，主题背景色，混合色占比)
----------------------------------- */
@mixin theme_mixbg($color,$sel,$weight){
    [data-theme="theme"] & {
        @each $mysel in map-keys($theme) {  
            @if $sel == $mysel {background-color: mix($color,map-get($theme, $mysel),$weight);} 
        }
    }
    [data-theme="theme1"] & {
        @each $mysel in map-keys($theme1) {  
            @if $sel == $mysel {background-color: mix($color,map-get($theme1, $mysel),$weight);} 
        }
    }
    [data-theme="theme2"] & {
        @each $mysel in map-keys($theme2) {  
            @if $sel == $mysel {background-color: mix($color,map-get($theme2, $mysel),$weight);} 
        }
    }
    [data-theme="theme3"] & {
        @each $mysel in map-keys($theme3) {  
            @if $sel == $mysel {background-color: mix($color,map-get($theme3, $mysel),$weight);} 
        }
    }
}


/*------------------------------------
+. theme_shadow
+. (主题背景色，左右，上下，模糊，大小，透明度)
----------------------------------- */
@mixin theme_shadow($sel, $x:0, $y:2px, $blur:10px, $spread:0, $opacity:0.1){
    [data-theme="theme"] & {
        @each $mysel in map-keys($theme) {  
            @if $sel == $mysel {
                @include shadow($x,$y,$blur,$spread,rgba(map-get($theme, $mysel),$opacity));
            } 
        }
    }
    [data-theme="theme1"] & {
        @each $mysel in map-keys($theme1) {  
            @if $sel == $mysel {
                @include shadow($x,$y,$blur,$spread,rgba(map-get($theme1, $mysel),$opacity));
            } 
        }
    }
    [data-theme="theme2"] & {
        @each $mysel in map-keys($theme2) {  
            @if $sel == $mysel {
                @include shadow($x,$y,$blur,$spread,rgba(map-get($theme2, $mysel),$opacity));
            } 
        }
    }
    [data-theme="theme3"] & {
        @each $mysel in map-keys($theme3) {  
            @if $sel == $mysel {
                @include shadow($x,$y,$blur,$spread,rgba(map-get($theme3, $mysel),$opacity));
            } 
        }
    }
}


/*------------------------------------
+. theme_text_shadow
+. (主题文字色，左右，上下，模糊，大小，透明度)
----------------------------------- */
@mixin theme_text_shadow($sel, $x:0, $y:2px, $blur:10px, $opacity:0.1){
    [data-theme="theme"] & {
        @each $mysel in map-keys($theme) {  
            @if $sel == $mysel {
                @include text-shadow($x,$y,$blur,rgba(map-get($theme, $mysel),$opacity));
            } 
        }
    }
    [data-theme="theme1"] & {
        @each $mysel in map-keys($theme1) {  
            @if $sel == $mysel {
                @include text-shadow($x,$y,$blur,rgba(map-get($theme1, $mysel),$opacity));
            } 
        }
    }
    [data-theme="theme2"] & {
        @each $mysel in map-keys($theme2) {  
            @if $sel == $mysel {
                @include text-shadow($x,$y,$blur,rgba(map-get($theme2, $mysel),$opacity));
            } 
        }
    }
    [data-theme="theme3"] & {
        @each $mysel in map-keys($theme3) {  
            @if $sel == $mysel {
                @include text-shadow($x,$y,$blur,rgba(map-get($theme3, $mysel),$opacity));
            } 
        }
    }
}

