/*------------------------------------
+. theme
+. neutral(40%,67%,77%,87%)
----------------------------------- */
$theme: (
  white               : #fff,
  black               : #000,
  primary             : #003688,
  primary-sec         : #C71A1A,
  primary-light       : #00a1e4,
  primary-dark        : #002a69,
  info                : #4fa4c8,
  success             : #7fa54e,
  warning             : #ff6600,
  danger              : #F44336,
  neutral             : #515a6e,
  neutral-title       : #17233d,
  neutral-sec         : #979ca8,
  neutral-disabled    : #c6c9cf,
  neutral-border      : #d7d9dd,
  neutral-divider     : #e8eaec
)!default;
/*------------------------------------
+. theme1
----------------------------------- */
$theme1: (
  white               : #fff,
  black               : #000,
  primary             : green,
  primary-sec         : #F44336,
  primary-light       : #00a1e4,
  primary-dark        : #003688,
  info                : #4fa4c8,
  success             : #7fa54e,
  warning             : #ff6600,
  danger              : #F44336,
  neutral             : #515a6e,
  neutral-title       : #17233d,
  neutral-sec         : #979ca8,
  neutral-disabled    : #c6c9cf,
  neutral-border      : #d7d9dd,
  neutral-divider     : #e8eaec
)!default;
/*------------------------------------
+. theme2
----------------------------------- */
$theme2: (
  white               : #fff,
  black               : #000,
  primary             : blue,
  primary-sec         : #F44336,
  primary-light       : #00a1e4,
  primary-dark        : #003688,
  info                : #4fa4c8,
  success             : #7fa54e,
  warning             : #ff6600,
  danger              : #F44336,
  neutral             : #515a6e,
  neutral-title       : #17233d,
  neutral-sec         : #979ca8,
  neutral-disabled    : #c6c9cf,
  neutral-border      : #d7d9dd,
  neutral-divider     : #e8eaec
)!default;
/*------------------------------------
+. theme3
----------------------------------- */
$theme3: (
  white               : #fff,
  black               : #000,
  primary             : purple,
  primary-sec         : #F44336,
  primary-light       : #00a1e4,
  primary-dark        : #003688,
  info                : #4fa4c8,
  success             : #7fa54e,
  warning             : #ff6600,
  danger              : #F44336,
  neutral             : #515a6e,
  neutral-title       : #17233d,
  neutral-sec         : #979ca8,
  neutral-disabled    : #c6c9cf,
  neutral-border      : #d7d9dd,
  neutral-divider     : #e8eaec
)!default;


/*------------------------------------
+. 字体定义规范
----------------------------------- */
$font-size-xs         : 14px !default;
$font-size-sm         : 15px !default;
$font-size-df         : 16px !default;
$font-size-lgm        : 18px !default;
$font-size-lg         : 20px !default;
$font-size-lgx        : 22px !default;
 














